<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DllFuturaDataSecurity.Properties.Settings.ConexaoBD"
            connectionString="Data Source=MK34\SQLEXPRESS;Initial Catalog=FuturaDataSecurity;User ID=sa;Password=aula"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>