<?xml version="1.0"?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="CSOFValidacoes.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
   <section name="CSOBRF_Validacoes.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <startup/><applicationSettings>
  <CSOFValidacoes.Properties.Settings>
   <setting name="CSOBRF_Validacoes_WSCorreios_AtendeClienteService"
    serializeAs="String">
    <value>https://apps.correios.com.br/SigepMasterJPA/AtendeClienteService/AtendeCliente</value>
   </setting>
   <setting name="DllFuturaDataValidacoes_WSCorreios_AtendeClienteService"
    serializeAs="String">
    <value>https://apps.correios.com.br/SigepMasterJPA/AtendeClienteService/AtendeCliente</value>
   </setting>
  </CSOFValidacoes.Properties.Settings>
  <CSOBRF_Validacoes.Properties.Settings>
   <setting name="CSOBRF_Validacoes_WSCorreios_AtendeClienteService"
    serializeAs="String">
    <value>https://apps.correios.com.br/SigepMasterJPA/AtendeClienteService/AtendeCliente</value>
   </setting>
  </CSOBRF_Validacoes.Properties.Settings>
 </applicationSettings>
</configuration>
